@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Mulish:wght@200;600&family=Poppins:wght@600;800;900&family=Quicksand:wght@300&family=Updock&display=swap');


body {
    background-color: rgb(27, 26, 26);
    /* font-family: poppins; */
    background-image: url(./images/bg4.png);
}

.row {
    width: 100%;
    height: 100px;
    /* background-color: gray; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.col {
    /* border: 2px black solid; */
    height: 50px;
    width: 50px;
    /* position: absolute; */
    top: 20px;
    border-radius: 20px;
    /* background-color: rgb(26, 114, 114); */

}

.col1 {
    /* background-color: bisque; */
    margin-left: 220px;
}

.col2 {
    /* background-color: lightblue; */
    left: 370px;
}

.col3 {
    /* background-color: lightgreen; */
    left: 450px;
}

.col4 {
    /* background-color: lightsalmon; */
    left: 930px;
}

.col5 {
    /* background-color: lightsalmon; */
    left: 990px;
}

.col6 {
    /* background-color: lightsalmon; */
    left: 1070px;
}

.col7 {
    /* background-color: lightsalmon; */
    margin-right: 220px;
}

h3 {
    position: absolute;
    text-align: center;
    color: white;
}

h1 {
    color: rgb(255, 134, 0);
    font-family: 'Poppins', sans-serif;
    /* font-weight: 900; */

}

span {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(239, 184, 144);
}

button {
    height: 40px;
    width: 100px;
    background-color: rgb(255, 134, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px;
}

button:hover {
    height: 40px;
    width: 100px;
    background-color: white;
    color: rgb(255, 134, 0);
}

.column {
    width: 100%;
    height: 350px;
    /* background-color: rgb(172, 59, 59); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coll {
    /* border: 2px black solid; */
    height: 250px;
    width: 250px;
    top: 30px;
    border-radius: 20px;
    /* background-color: rgb(26, 114, 114); */
    padding: 8px;

}

.coll:hover {
    transform: scale(1.1);
    background-color: rgb(33, 33, 33);

}

.col8 {
    /* background-color: bisque; */
    left: 345px;
}

.col9 {
    left: 620px;
}

.col10 {
    left: 888px;
}

h2 {
    color: rgb(255, 134, 0);
}

.box {
    width: 100%;
    height: 600px;
    /* background-color: rgb(172, 59, 59); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.colll {
    /* border: 2px black solid; */
    height: 515px;
    width: 450px;
    top: 30px;
    border-radius: 20px;
    /* background-color: rgb(26, 114, 114); */

}

.col11 {
    /* background-color: bisque; */
    left: 345px;
}

.col12 {
    left: 800px;
}

.b1 {
    height: 40px;
    width: 100px;
    color: rgb(255, 134, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px;
}

.b1:hover {
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(255, 134, 0);
}

.box1 {
    width: 100%;
    height: 150px;
    /* background-color: rgb(172, 59, 59); */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;



}

.collll {
    /* border: 2px black solid; */
    height: 100px;
    width: 200px;
    top: 30px;
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
}

.collll:hover {
    transform: scale(1.0);
    background-color: rgb(255, 134, 0);
}

.col13 {
    margin-left: 300px;
}

.col14 {

    left: 20px;
}

.col15 {
    left: 10px;
}

.col16 {

    margin-right: 300px;
}

h4 {
    color: rgb(239, 184, 144);
}

#f1 {
    margin-right: 100px;
}

#f1 {
    background-color: rgb(33, 33, 33);
    padding: 10px;

}

#f1:hover {
    transform: scale(1.0);
    background-color: rgb(57, 56, 56);
}

#i1:hover {
    transform: scale(1.1);

}

.box10 {
    width: 100%;
    height: 530px;
    /* background-color: rgb(172, 59, 59); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cal {
    /* border: 2px black solid; */
    height: 250px;
    width: 410px;
    top: 30px;
    border-radius: 20px;
    /* background-color: rgb(26, 114, 114); */
    padding: 8px;

}

.cal:hover {
    transform: scale(1.1);
    /* background-color: rgb(33, 33, 33); */

}

.box11 {
    width: 100%;
    height: 700px;
    /* background-color: rgb(172, 59, 59); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call {
    /* border: 2px black solid; */
    height: 510px;
    width: 370px;
    top: 30px;
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
    /* padding: 8px; */

}

#z1:hover {
    transform: scale(1.);
    background-color: rgb(255, 134, 0);
}

form {
    /* border: 3px solid #f1f1f1; */
    font-family: Arial;
}

.container {
    padding: 20px;
    /* background-color: #f1f1f1; */

    text-align: center;
}

input[type=text],
input[type=submit] {
    width: 30%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}


box13 {
    width: 100%;
    height: 700px;
    /* background-color: rgb(172, 59, 59); */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.cel{
    /* border: 2px black solid; */
    height: 100px;
    width: 370px;
    top: 30px;
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
    /* padding: 8px; */
}
#footericon:hover{
    background-color: rgb(255, 134, 0);
}
.cel1{
    margin-left: 280px;
}
#n1{
    height: 300px;
}